<div style="display: none">

    <div id="flow-new-tag-dialog"
         data-tag_guid=""
         class=""
    >
        <div class="card col-12 " >

            <div class="card-header">
                <span>
                    New Tag
                </span>
                <br>
                <span class="small"> Making a new tag will refresh the page</span>
                
            </div>

            <div class="card-body">

                <div class="card-text ">
                    <div class="row m-0">
                        <div class="col-12 ">

                            <div class="input-group">
                                <span class="input-group-text">
                                    Name
                                </span>
                                <input type="text" class="form-control"
                                       id="flow-new-tag-name"
                                       maxlength="40"
                                       title="Tag Name" placeholder="Tag Name">
                            </div>



                        </div> <!-- /.col -->

                        <div class="col-12 mt-2">


                                <label class="input-group-text">
                                    <span class="me-2">
                                        Parent
                                    </span>
                                    <select id="flow-new-tag-parent-list"
                                            title="Parents"
                                            class="form-control flow-tag-new-parent-list">

                                    </select>
                                    <span class="float-end">
                                        <button class="btn btn-sm btn-success ms-1" id="flow-new-tag-parent-goto">
                                            <i class="bi bi-arrow-bar-up"></i>
                                        </button>
                                    </span>
                                </label>








                        </div> <!-- /.col -->
                    </div><!-- /.row -->

                </div> <!-- /.card-text -->
            </div> <!-- /.card-body -->

            
        </div> <!-- /.card -->
    </div> <!-- /#flow-new-tag -->

</div> <!-- / anon div to hide modal screens -->