<ul class="list-group list-group-flush">
    {% for tag in project.get_all_owned_tags_in_project(true) %}
    <li class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="me-5">{{ tag.flow_tag_name }}</h5>
            <ul class="list-group">
                {% for applied in tag.applied %}
                    <a href="{% include 'tag/partials/applied/applied-url.twig' with {'applied': applied} %}"
                       class="list-group-item list-group-item-action"
                    >
                        {% include 'tag/partials/applied/applied-title.twig' with {'applied': applied} %}

                    </a>
                {% endfor %}
            </ul>
        </div>

    </li>
    {% endfor %}
</ul>