


<li class="list-group-item flow-applied-summary-line">
    <div class="row">
        <div class="col-4 col-xl-1">
            <span class="flow-applied-type-icon-holder me-1">
                <i class="bi-person-circle flow-applied-icon-user" style="display: none"></i>
                <i class="bi bi-box flow-applied-icon-project" style="display: none"></i>
                <i class="bi bi-columns flow-applied-icon-entry" style="display: none"></i>
                <i class="bi bi-type flow-applied-icon-node" style="display: none"></i>
                <i class="bi bi-hand-index-thumb flow-applied-icon-pointer" style="display: none"></i>
            </span>

            <span class="flow-applied-type"></span>
        </div>
        <div class="col-8 col-xl-6 ">
            <a class="flow-applied-link">
                <span class="flow-tag-applied-target-title"></span>
            </a>
        </div>

        <div class="col-4 col-xl-3">
            <div class="">
                <span
                        data-ts=""
                        class="small flow-applied-created-at flow-long-date-time "
                ></span>
            </div>
        </div>

        <div class="col-2 col-xl-1">
            <button class="btn btn-danger btn-sm  flow-applied-delete-action">
                <i class="bi bi-trash  flow-action"></i>
                <i class="fas fa-spinner fa-pulse flow-spinner"  style="display: none"></i>

            </button>
        </div>

    </div>
</li>
