<div class="container create-applied-container">
    <div class="card col-12" >

        <div class="card-header">
            <span class="me-2">Apply</span>
            <span class="flow-create-applied-of-tag flow-tag-display fw-bold" data-tag_guid=""></span>

        </div>

        <div class="card-body flow-edit-tag-input-fields">

            <div class="card-text ">
                <div class="row m-0">

                    <div class="col-12 col-xl-6 mt-2 mt-xl-0">


                        <label class="input-group-text flow-things-points-to-group">
                            <span class="me-2">
                                Set To
                            </span>

                            <select title="Things to apply" class="form-control flow-create-applied-of-list p-0"></select>
                        </label>


                        <div class="ms-2">
                            <a class="flow-create-applied-link">
                                <span class="flow-create-applied-of--title small"></span>
                            </a>
                        </div>

                    </div> <!-- /.col -->
                </div> <!-- /.row -->

            </div> <!-- /.card-text -->
        </div> <!-- /.card-body -->
    </div><!-- /.card-->
</div> <!-- /.container -->