

<li class="list-group-item flow-attribute-summary-line">
    <div class="row">
        <div class="col-6 col-xl-2">
            <span class="flow-attribute-name flow-attribute-show-edit-on-click" data-attribute_guid=""></span>
        </div>
        <div class="col-6 col-xl-2 small">
            <span class="flow-tag-display small flow-attribute-inherited-from-tag flow-tag-show-edit-on-click"
                  data-tag_guid=""></span>
        </div>
        <div class="col-6 col-xl-3">
            <div class="">
                <a class="flow-attribute-link">
                    <span class="flow-attribute-link-title small"></span>
                </a>
            </div>
        </div>

        <div class="col-6 col-xl-1">
            <div class="">
                <span class="flow-attribute-number-value"></span>
            </div>
        </div>

        <div class="col-12 col-xl-4">
            <div class="">
                <span class="flow-attribute-text-value-preview"></span>
            </div>
        </div>
    </div>
</li>
