

div.flow-project-new-button {
    margin-top: 1em;
}

div.flow-project-list {
    margin-top: 2em;
}



div.flow-project-list-item  span.flow-project-title {
    font-weight: bold;
}

div.flow-project-list-item  span.flow-project-blurb {
    font-style: italic;
    background-color: rgba(0,0,0, 0.04);
    padding: 0.2em 1em ;
}

div.flow-project-readme-display {
    padding: 1em;
    width: fit-content;
    background-color: whitesmoke;
}

div#flow-find-user span.select2.select2-container {
    width: 100% !important;
}

div#flow-history-area .flow-grid-striped.row:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05);
}

div#flow-history-area .flow-grid-striped.row:nth-of-type(even) {
    background-color: rgba(0,0,0,.10);
}

div#flow-history-area ul.flow-history-file-list li span.flow-commit-body {
    white-space: pre-wrap;
    display: block;
    word-break: break-word;
}

.row.flow-project-list-item {
    background: #fff;
}
.row.flow-project-list-item:nth-child(2n) {
    background: #eeefff;
}



