
{% set url_to_action = url_for('project_upload_resource_file',{
                                                            user_name: project.get_admin_user().getFlowUserName() ,
                                                            project_name: project.get_project_title()
                                                        } )
%}

<div class="card ">

    <div class="card-header p-3 ">
        Upload a new file to resources
    </div>
    <div class="card-body ">
        <form action="{{ url_to_action }}" class="dropzone w-100" id="flow-resource-file-upload" style="min-height: 20em">

            {{ form_token( url_to_action)  }}
            <input type="hidden" id="flow_project_git_hash" value="{{ flow_project_git_hash }}">

            <!--  fallback form -->
            <div class="fallback"> <!-- This div will be removed if the fallback is not necessary -->
                <input type="file" name="flow_resource_file" />
            </div>
        </form>
    </div>
</div>


<script>
    jQuery(function(){
        let myDropzone = new Dropzone("form#flow-resource-file-upload", {
            url: "{{ url_to_action }}",
            paramName: "flow_resource_file", // The name that will be used to transfer the file
            maxFilesize: 20 // MB

        });

        myDropzone.on('sending', function(file, xhr, formData) {
            // Append all form inputs to the formData Dropzone will POST
            var data = $(`form#flow-resource-file-upload`).serializeArray();
            $.each(data, function(key, el) {
                formData.append(el.name, el.value);
            });
            formData.append('flow_project_git_hash',$(`input#flow_project_git_hash`).val());
        });

        myDropzone.on("error", function(file, response) {
            let message;
            if($.type(response) === "string") {
                message = response;
            } else {
                message = response.message
            }

            my_swal.fire(
                'Oh No!',
                'File could not be uploaed<br>\n ' + message,
                'error'
            )

        });

        myDropzone.on("success", function(file) {
            console.log("file success",file);
            // noinspection JSCheckFunctionSignatures
            window.location.reload(true);
        });


    });
</script>
