<div id="flow-selection-option-template" class="d-none">

    <div class="card flow-selection-option-card">

        <div class="card-title">
            <h4 class="flow-selection-option-label"></h4>

        </div>

        <div class="card-header">
            <span class="d-block flow-selection-option-description"></span>
            <span class="d-none flow-selection-option-warning text-danger">
                No Information set or ready to be selected
            </span>
            <span class="d-none flow-selection-option-not-set text-warning">
                No Information set
            </span>
        </div>

        <div class="card-body">
            <div class="flow-selected-standard-view-here"></div>
        </div>
    </div> <!-- /.flow-selection-option-card -->


    <div class="card flow-selection-dialog-card">

        <div class="card-header">
            <h4 class="flow-selection-option-label"></h4>
        </div>

        <div class="card-body">
            <select title="Options"
                    class="form-control flow-selection-option-list">

            </select>
        </div>

    </div> <!-- /.flow-selection-dialog-card -->

</div>