
<div class="d-none " id="standard-git-view-templates">


    <div class="standard-git-view-card d-inline">
        <ul class="list-group list-group-horizontal-md">

            <li class="list-group-item git-repo d-none">

                <span class="da-url mb-2 d-none">
                    <span class="git_url d-inline"></span>

                    <span class="git_ssh_key d-none ps-2">
                        <i class="fa-solid fa-key text-warning"></i>
                    </span>

                    <span class="git_automate_push d-none ps-2">
                        <i class="fa-solid fa-wand-magic-sparkles"></i>
                    </span>
                </span>

                <span class=" da-branch mb-1 d-none">
                    <small class="small">
                        Banch
                    </small>
                    <small class="text-muted git_branch "></small>
                </span>

                <span class="da-linky-linking d-none">
                        <a href="#" class="link-info git_web_page"></a>
                </span>
            </li>


            <li class="list-group-item da-notes d-none">
                <p class="mb-2 git_notes"></p>
            </li>

        </ul>
    </div>


</div>