<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="login-form bg-light mt-4 p-4">
                <form method="post" action="{{ url_for("submit_registration") }}" class="row g-3">
                    <h4>Register Here</h4>
                    <div class="col-12">
                        <label for="hexbatch_email">Email</label>
                        <input type="email" id="hexbatch_email" name="hexbatch_email"
                               class="form-control" placeholder="Email" required autofocus>
                    </div>

                    <div class="col-12">
                        <label for="hexbatch_username">Username</label>
                        <input type="text" id="hexbatch_username" name="hexbatch_username"
                               class="form-control" placeholder="Username" required autofocus>
                    </div>

                    <div class="col-12">
                        <label for="hexbatch_password">Password</label>
                        <input type="password" id="hexbatch_password" name="hexbatch_password" class="form-control" placeholder="Password" required>
                    </div>

                    <div class="col-12">
                        <label for="hexbatch_confirm_password">Password</label>
                        <input type="password" id="hexbatch_confirm_password" name="hexbatch_confirm_password" class="form-control" placeholder=" Confirm Password" required>
                    </div>


                    <div class="col-12">
                        <button type="submit" class="btn btn-success float-end">Register</button>
                    </div>
                </form>
                <hr class="mt-4">
                <div class="col-12">
                    <p class="text-center mb-0">Already have an account? <a href="{{ url_for('login') }}">Log In</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
