
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{  url_for('all_projects')  }}">{{ dat_user.flow_user_name }}</a></li>
    </ol>
</nav>


<div class="row">

    {{ include('user/partials/about.twig') }}

</div> <!-- /.row -->





