
<div class="d-none " id="standard-meta-templates">


    <div class="card col-12 col-lg-9 standard-meta-card">

        <div class="card-title">
            <h4 class="pt-1">
                Meta Example
            </h4>
        </div>

        <div class="card-header">

        </div>

        <div class="card-body">
           <span class="standard-meta-version"></span>
        </div><!-- /.card-body -->
    </div><!-- /.card.col -->

</div>