
<div class="d-none " id="standard-meta-view-templates">


    <div class="standard-meta-view-card d-inline">
        <ul class="list-group list-group-horizontal-md">

            <li class="list-group-item meta-image d-none">
                <a href="#" class="meta_picture_url">
                    <img src="" alt="" class="img-fluid img-thumbnail" title=""/>
                </a>
            </li>

            <li class="list-group-item meta-author d-none">
                <i>Author</i> <span class="meta_author fw-bold text-info ms-3"></span>
            </li>


            <li class="list-group-item meta-names-and-web d-none">
                <span class="mb-2 d-inline da-names d-none">
                    <span class="meta_first_name fw-bold"></span>
                    <span class="meta_last_name  fw-bold"></span>
                </span>

                <span class="da-linky-linking d-none">
                    <a href="#" class="link-info meta_website"></a>
                </span>

            </li>



            <li class="list-group-item meta-email-date-version d-none">

                <span class="meta_public_email mb-2 d-none">
                    <a href="#"></a>
                </span>

                <span class=" da-version mb-1 d-none">
                    Version
                    <small class="text-muted meta_version "></small>
                </span>

                <span class=" da-time d-none">
                    <small class="text-muted meta_date_time"></small>
                </span>

            </li>
        </ul>
    </div>


</div>