
<div class="d-none " id="standard-meta-edit-templates">


    <div class="card d-inline standard-meta-card">

        <div class="card-title mb-2">
            <h4 class="pt-1">
                Edit Meta for Tag
                <span class="flow-edit-this-meta-tag flow-tag-display fw-bold" data-tag_guid=""></span>
            </h4>
        </div>

        <div class="card-header">
            Enter meta fields , blanks will not be displayed
        </div>

        <div class="card-body">

            <div class="row">
                <div class="col-12 col-md-6">
                    <label for="meta_author">
                        Author
                    </label>
                    <input type="text"  id="meta_author" name="meta_author"
                           class="form-control" placeholder="Author"
                           value=""
                    >
                </div>

                <div class="col-12 col-md-6">
                    <label for="meta_public_email">
                        Author Email
                    </label>
                    <input type="text"  id="meta_public_email" name="meta_public_email"
                           class="form-control" placeholder="Public Email"
                           value=""
                    >
                </div>


                <div class="col-12 ">
                    <label for="meta_picture_url">
                        Picture
                        <span class="small ms-2" style="font-style: italic">
                            Drag and Drop Image to Form
                        </span>
                    </label>
                    <input type="url"  id="meta_picture_url" name="meta_picture_url"
                           class="form-control" placeholder="Picture Url"
                           value=""
                    >

                </div>

                <div class="col-12 ">
                    <div class="d-flex justify-content-center ">
                        <div class="d-inline" style="width: 8em">
                            <img src="" class="img-fluid img-thumbnail meta-picture-preview" alt="Image for meta">
                        </div>

                    </div>
                </div>



                <div class="col-12 col-md-9">
                    <label for="meta_website">
                        Web Site URL
                    </label>
                    <input type="url"  id="meta_website" name="meta_website"
                           class="form-control" placeholder="Website Url"
                           value=""
                    >
                </div>

                <div class="col-12 col-md-3">
                    <label for="meta_version">
                        Version
                    </label>
                    <input type="text"  id="meta_version" name="meta_version"
                           class="form-control" placeholder="Version String"
                           value=""
                    >
                </div>



                <div class="col-12 col-md-6">
                    <label for="meta_first_name">
                        First Name
                    </label>
                    <input type="text"  id="meta_first_name" name="meta_first_name"
                           class="form-control" placeholder="First Name"
                           value=""
                    >
                </div>

                <div class="col-12 col-md-6">
                    <label for="meta_last_name">
                        Last Name
                    </label>
                    <input type="text"  id="meta_last_name" name="meta_last_name"
                           class="form-control" placeholder="Last Name"
                           value=""
                    >
                </div>


                <div class="col-12 col-md-6">
                    <label for="meta_date_time_picker">
                        Date Time
                    </label>

                    <input type="hidden" name="meta_date_time">
                    <input type="text" readonly id="meta_date_time_picker" name="meta_date_time_picker"
                           class="form-control" placeholder="DateTime"
                           value=""
                    >
                </div>



                <div class="col-12">
                    <div class="mt-2 d-flex justify-content-center">
                        <button type="button" class="action-meta-save btn btn-primary">
                            Save Meta
                        </button>
                    </div>

                </div>

                <div class="col-12">
                    <div class="dropzone-previews form-group" id="dropzonePreview"></div>
                </div>

            </div> <!-- /.row -->

        </div><!-- /.card-body -->
    </div><!-- /.card.col -->

</div>