<div class="card " id="flow-clone-from-here-form">

    <div class="card-header p-3 ">
        Copy a project you can already read here
    </div>

    <div class="card-body ">

        <div class="row">
            <div class="mt-2 col-12 col-md-6 col-xxl-3">
                <label for="flow-select-project">
                    Choose a project
                </label>
                <select id="flow-select-project"
                        class="w-100"
                        tabindex="-1"
                        aria-hidden="true"
                >
                </select>
            </div>

            <div class="mt-4 col-12 col-md-6 col-xxl-auto">

                <form
                        method="post"
                        action=`{{-  url_for('clone_project_from_local',{guid: '::guid::'}) -}}`
                        id="flow-form-clone-from-project"
                        class="invisible"
                >
                    {{ form_token(  csrf_token_set_to_root ) }}
                    <fieldset>
                        <span id="flow-selected_project-name"></span>
                        <code id="flow-selected_project-guid"></code>
                        <button class="btn btn-outline-secondary btn-sm clipy-btn flow-import-project-button"
                                type="button"
                                data-clipboard-target="#flow-selected_project-guid"
                                data-popover_on_success="Copied!"
                                data-popover_on_fail="Use Control-C"
                        >
                            Copy GUID string
                        </button>
                    </fieldset>

                    <fieldset>
                        <label for="flow_project_title">
                            Project Title
                        </label>
                        <input type="text" id="flow_project_title" name="flow_project_title"
                               class="form-control"
                               placeholder="Title"
                               required
                               maxlength="{{ constant('app\\models\\base\\FlowBase::MAX_SIZE_TITLE') }}"
                               value=""
                        >
                        <button
                                class="btn btn-primary flow-import-project-button mt-2"
                                type="submit"
                        >
                            Clone
                        </button>
                    </fieldset>
                </form>

            </div>
        </div>

    </div> <!-- card-body -->
</div> <!-- card -->