

/*project-tags-summary-list.twig*/
.flow-tag-list-name {
    white-space: nowrap;
    font-weight: bold;
}

.flow-tag-applied-target-title {

}

/*applied-title.twig*/
.flow-tag-applied-of-this {
    background-color: yellowgreen;
}





/*new tag dialog */
div#flow-new-tag-dialog {
    width: fit-content;
    max-width: 36em;
    margin: auto;
}

.flow-tag-new-parent-list {

}

div.flow-tag-new-tingle  div.tingle-modal-box {

}

div#flow-new-tag-dialog .flow-tag-new-parent-list  {
    padding: 0;
}




/*Displaying in the select */
span.flow-tag-display {
    padding: 0.125em;
}