<div class="container">
    <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card card-signin flex-row my-5">
                <div class="card-img-left d-none d-md-flex">
                    <!-- Background image for card set in CSS! -->
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">Register</h5>
                    <form class="form-signin" method="post" action="{{ url_for('submit_registration') }}">
                        <div class="form-label-group">
                            <input type="text" id="hexbatch_username" name="hexbatch_username" class="form-control" placeholder="Username" required autofocus>
                            <label for="hexbatch_username">Username</label>
                        </div>

                        <div class="form-label-group">
                            <input type="email" id="hexbatch_email" name="hexbatch_email" class="form-control" placeholder="Email address" required>
                            <label for="hexbatch_email">Email address</label>
                        </div>

                        <hr>

                        <div class="form-label-group">
                            <input type="password" id="hexbatch_password" name="hexbatch_password" class="form-control" placeholder="Password" required>
                            <label for="hexbatch_password">Password</label>
                        </div>

                        <div class="form-label-group">
                            <input type="password" id="hexbatch_confirm_password" name="hexbatch_confirm_password" class="form-control" placeholder="Password" required>
                            <label for="hexbatch_confirm_password">Confirm password</label>
                        </div>

                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
                        <a class="d-block text-center mt-2 small" href="#">Sign In</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>