<footer>
    <nav class="navbar fixed-bottom navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="https://github.com/hexbatch/hexbatch-core-flow">
                Github for this code
            </a>

            <span >
                Version {{ program_version }}
            </span>
        </div>
    </nav>
</footer>