<footer>
    <nav class="navbar fixed-bottom navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="https://github.com/hexbatch/hexbatch-core-flow">
                Github for this code
            </a>

            <span >
                <span>Version {{ program_version }}</span>
                 <span class="small ms-2 fst-italic">
                     <a href="{{program_version_link}}" target="_blank" class="link-dark">
                         {{program_version_description}}
                     </a>

                </span>
            </span>


        </div>
    </nav>
</footer>