
<div class="d-none " id="standard-css-view-templates">


    <div class="standard-css-view-card d-inline">
        <ul class="list-group list-group-horizontal-md">

            <li class="list-group-item css-thang d-none">

                <div class="da-colors mb-2 d-none text-center">
                    <div class="display-da-colors d-inline-block">
                        <div class="outer-circle show-background-color">
                            <span class="da-color-hex  mt-2 d-inline-block"></span>
                        </div>
                        <div class="inner-circle show-foreground-color">
                            <span class="da-color-hex mt-2 d-inline-block"></span>
                        </div>
                    </div>
                </div>

                <div class=" da-font-name d-none">
                    <span style="font-size: 2em"></span>
                </div>

            </li>

            <li class="list-group-item no-css d-none border-warning " style="border-left-width: 1px">
                <span>No CSS Properties</span>
            </li>

        </ul>
    </div>


</div>