<div class="card" id="hexflow-lua-logs">
    <div class="card-header text-center">
        <input type="checkbox" class="btn-check" id="hexflow-show-debug-logs" autocomplete="off" checked>
        <label class="btn btn-outline-dark position-relative me-4" for="hexflow-show-debug-logs">
            <span class="hexflow-number-logs">
                <span class="position-absolute top-50 start-100 translate-middle badge rounded-pill  bg-dark">0</span>
            </span>
            <span class="hexflow-log-type pe-2">Debug</span>
        </label>

        <input type="checkbox" class="btn-check" id="hexflow-show-info-logs" autocomplete="off" checked>
        <label class="btn btn-outline-info position-relative me-4" for="hexflow-show-info-logs">
            <span class="hexflow-number-logs">
                <span class="position-absolute top-50 start-100 translate-middle badge rounded-pill  bg-info">0</span>
            </span>
            <span class="hexflow-log-type pe-2">Info</span>
        </label>

        <input type="checkbox" class="btn-check" id="hexflow-show-warning-logs" autocomplete="off" checked>
        <label class="btn btn-outline-warning position-relative me-4" for="hexflow-show-warning-logs">
            <span class="hexflow-number-logs">
                <span class="position-absolute top-50 start-100 translate-middle badge rounded-pill  bg-warning">0</span>
            </span>
            <span class="hexflow-log-type pe-2">Warning</span>
        </label>

        <input type="checkbox" class="btn-check" id="hexflow-show-error-logs" autocomplete="off" checked>
        <label class="btn btn-outline-danger position-relative" for="hexflow-show-error-logs">
            <span class="hexflow-number-logs">
                <span class="position-absolute top-50 start-100 translate-middle badge rounded-pill  bg-danger">0</span>
            </span>
            <span class="hexflow-log-type pe-2">Error</span>
        </label>
    </div>
    <div class="card-body ">
        <div class="row hexflow-lua-logs-holder g-1">

        </div>
    </div> <!--  card-body -->
</div> <!-- card -->