<script>
    const TEST_LUA_CODE_URL = "{{url_for('test_lua_code_no_project')}}";
</script>

<script src="{{ root_url }}/public/resources/js/lua/hexflow_lua.js"></script>
<script src="{{ root_url }}/public/resources/js/lua/hexflow_lua_logs.js"></script>
<script src="{{ root_url }}/public/resources/js/lua/hexflow_testbed_lua.js"></script>

<div class="container container-sm container-md container-lg container-xl container-xxl">
    <div class="row">
        <div class="col-12 mb-1">
            <div class="card hexflow-lua-editor">
                <div class="card-header">
                    <h4>Lua Test Bed</h4>
                </div>
                <div class="card-title p-1">
                    <label for="hexflow-code-test-lua" class="ms-1 me-2">Code and name</label>
                    <input type="text" class="form-control w-50 d-inline-block" id="hexflow-code-test-name"
                           value="" placeholder="Text Name" title="Text Name">
                </div>
                <div class="card-body  " >

                    <textarea
                            id="hexflow-code-test-lua"
                            class="form-control"
                            style="min-height: 50vh;"
                            placeholder="Type in Lua code"
                            autocomplete="off"
                            spellcheck="false"
                    ></textarea>
                </div> <!--  card-body -->

                <div class="card-footer">
                    <button id="hexflow-run-test-lua" class="btn btn-success">
                        Run
                    </button>
                </div>
            </div> <!--  card -->
        </div> <!-- col -->


        <div class="col-12 " >
            {% include('lua/lua_logs.twig') %}
        </div>
    </div> <!-- row -->

</div> <!--  container  -->