<nav aria-label="breadcrumb">
    <ol class="breadcrumb">

        <li class="breadcrumb-item">
            <a href="{{  url_for('all_projects')  }}">{{ user.getFlowUserName() }}</a>
        </li>

        <li class="breadcrumb-item active" aria-current="page">Clone Project</li>
    </ol>
</nav>

<div class="row">

    <div class="card col-12 col-lg-9">

        <div class="card-header">
            Copy an already existing project
        </div>

        <div class="card-body">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="flow-clone-from-project" data-bs-toggle="tab" data-bs-target="#nav-clone-from-project" type="button" role="tab" aria-controls="nav-home" aria-selected="true">
                        Clone From a project you can read here
                    </button>
                    
                    <button class="nav-link" id="flow-clone-from-git" data-bs-toggle="tab" data-bs-target="#nav-clone-from-git" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
                        Clone from Git
                    </button>

                    <button class="nav-link" id="flow-clone-from-file" data-bs-toggle="tab" data-bs-target="#nav-clone-from-file" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
                        Create from File
                    </button>
                </div>
            </nav>
            <div class="tab-content flow-clone-project-tabs" id="nav-tabContent">

                <div class="tab-pane fade show active" id="nav-clone-from-project" role="tabpanel" aria-labelledby="flow-clone-from-project">
                  {%include('project/partials/clone/clone-from-project.twig')%}

                </div><!-- /.tab-pane -->

                <div class="tab-pane fade" id="nav-clone-from-git" role="tabpanel" aria-labelledby="flow-clone-from-git">

                    {%include('project/partials/clone/clone-from-git.twig')%}
                </div><!-- /.tab-pane -->

                <div class="tab-pane fade" id="nav-clone-from-file" role="tabpanel" aria-labelledby="flow-clone-from-file">
                    {%include('project/partials/clone/clone-from-file.twig')%}
                </div><!-- /.tab-pane (upload) -->




            </div> <!-- /.tab-content -->
        </div> <!-- card-body -->


    </div> <!-- card -->
</div> <!-- /.row -->

<script>
    jQuery(function($) {

        {% set guid_stub = '123456789abcde123456789abcde1234' %}
        let guid_stub = `{{ guid_stub }}`;
        let clone_from_local_url_template = `{{-  url_for('clone_project_from_local',{guid: guid_stub}) -}}`;

        let bare_select_control = $(`select#flow-select-project`);
        create_select_2_for_general_search(bare_select_control,false,"Choose a project",null,'project');

        /**
         * @type {?GeneralSearchResult}
         */
        let selected_project = null;
        bare_select_control.on('select2:select', function () {
            let data_array = bare_select_control.select2("data");
            console.debug('selected project', selected_project);

            if (data_array.length) {
                selected_project = data_array[0];
            } else {
                selected_project = null;
            }
            display_selected(selected_project);
            console.log(selected_project)
        });

        bare_select_control.on('select2:unselecting', function () {
            selected_project = null;
            console.debug('unselected project');
            display_selected(selected_project);
        });

        /**
         *
         * @param {?GeneralSearchResult} what
         */
        function display_selected(what) {
            let form = $(`form#flow-form-clone-from-project`);
            let title_input = form.find('input#flow_project_title');
            if (what) {
                $(`#flow-selected_project-name`).text(what.title);
                $(`#flow-selected_project-guid`).text(what.guid);
                form.removeClass('invisible');
                let filled_action = clone_from_local_url_template.replace(guid_stub,what.guid)
                form.attr('action',filled_action);
                title_input.val(what.title);
            } else {
                $(`#flow-selected_project-name`).text('');
                $(`#flow-selected_project-guid`).text('');
                form.addClass('invisible');
                form.attr('action','');
            }




        }

    });

</script>


