<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class=" bg-light mt-4 p-4">
                <form method="post" action="{{ url_for("create_new_project") }}" class="row g-3">
                    <h4>Project Title</h4>
                    <div class="col-12">
                        <label for="flow_project_title">Project Title</label>
                        <input type="text" id="flow_project_title" name="flow_project_title"
                               class="form-control" placeholder="Title" required autofocus
                               maxlength="40" value="{{ form_in_progress.flow_project_title }}"
                        >
                    </div>

                    <div class="col-12">
                        <label for="flow_project_blurb">Blurb</label>
                        <textarea type="text" id="flow_project_blurb" name="flow_project_blurb"
                                  class="form-control" placeholder="Blurb" required autofocus
                                  rows="3" maxlength="120"
                        >{{ form_in_progress.flow_project_blurb }}</textarea>
                    </div>


                    <div class="col-12">
                        <label for="flow_project_readme">Read Me / Description</label>
                        <textarea type="text" id="flow_project_readme" name="flow_project_readme"
                                  class="form-control" placeholder="Blurb" required autofocus
                                  rows="3"
                        >{{ form_in_progress.flow_project_readme }}</textarea>
                    </div>

                    <div class="col-12">
                        <button type="submit" class="btn btn-success float-end">Create Project</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
