{{ include('project/partials/project-breadcrumbs.twig') }}


<div class="row">
    <div class="col-12 col-lg-auto ">
        {{ include('project/partials/edit-side-menu.twig') }}
    </div><!-- /.col -->

    <div class="col ">

        <div class="container p-0 m-1">

            <div class="row">
                <div class="col-12 col-xl-8 order-1 order-xl-2">
                    {{ include('project/partials/resource/slide-viewer.twig') }}
                </div>

                <div class="col-12 col-xl-4 order-2 order-xl-1">
                    {{ include('project/partials/resource/file_upload_form.twig') }}
                </div>

            </div>

        </div> <!-- /.container -->


    </div><!-- /.col -->

</div> <!-- /.row -->



