<div class="container p-0 m-1">

    <div class="card" style="width: fit-content">

        <div class="card-header">
            History For {{ project.flow_project_title }}
        </div>

        <div class="card-body">
            <h5 class="card-title">
                Admin History
            </h5>

            <pre>
                {{ dump(project.raw_history) }}
            </pre>

            <pre>
                {{ dump(project.history) }}
            </pre>
        </div>

    </div>
</div>