

<script src="{{ root_url }}/public/resources/js/project/edit-project-tags.js"></script>



<div class="container p-0 m-1">

    <div class="card col-12 col-lg-9">

        <div class="card-header">
            Tags For {{ project.flow_project_title }}
            <button class="btn btn-success btn-sm float-end flow-new-tag-show-dialog">
                <i class="bi bi-bookmark-plus"></i>
                New Tag
            </button>
        </div>

        <div class="card-body">
            {{ include('tag/partials/project-tags-summary-list.twig') }}
        </div>

        <div class="card-body">
            <h5 class="card-title">
                Search
            </h5>

            <p>
                <button class="btn btn-dark" id="flow-tag-save">Da Save Test</button>
                <br>
                <span id="flow-tag-name"></span>
                <br>
                <code id="flow-tag-guid"></code>
            </p>

            <p>
                <label for="flow-select-tags">FUB</label>
                <select id="flow-select-tags"
                        class="form-control "
                        tabindex="-1"
                        aria-hidden="true"
                >
                </select>
            </p>

        </div>

    </div>
</div>


