{% if project.get_current_user_permissions().can_admin %}
<div class="card p-1 mt-1 col-9 mb-1 ms-1 w-100" >
    <h5 class="card-title ps-1">
        Patch
    </h5>

    <div class="card-body p-1">

        <div class="card-text text-center">

            <a href="{{ url_for('project_permissions',{
                            user_name: project.get_admin_user().flow_user_name ,
                            project_name: project.get_project_title()
                        } )
                    }}"
               class="btn btn-outline-info py-0"
            >
                Load Patch {# todo change link to new route for patch later #}
            </a>



        </div> <!-- /.card-text -->
    </div>  <!-- /.card-body -->
</div> <!-- /.card -->

{% endif %} {# end can_admin #}