<div class="container p-0 m-1">

    <div class="card" style="width: fit-content">

        <div class="card-header">
            Tags For {{ project.flow_project_title }}
        </div>

        <div class="card-body">
            <h5 class="card-title">
                View Tags here
            </h5>

        </div>

    </div>
</div>