
div.standard-meta-view-card a.meta_picture_url img {
    width: 6em;
}

div.standard-meta-edit-card a.meta_picture_url img {
    width: 6em;
}


/*css edit */

div.standard-css-edit-card select.select-font-now {
    font-size: 30px;
}


/* css view standard */

div.standard-css-view-card div.display-da-colors {
    background-image : url("../../images/checkered.svg");
    background-repeat: repeat;
    height: 16em;
    width: 16em ;
    position: relative;
}

div.standard-css-view-card  .outer-circle {
    background-color: white;
    top: 0;
    left: 0;
    height: 16em;
    width: 16em;
    position: absolute;
    clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
    /*clip-path: path('evenodd','M0,200 A200,200 0,1,1 400,200 A200,200 0,1,1 0,200 z M100,200 A100,100 0,1,1 300,200 A100,100 0,1,1 100,200 z');*/
}

div.standard-css-view-card  .inner-circle {
    background-color: black;
    position: absolute;
    height: 8em;
    width: 8em;
    top: 50%;
    left: 50%;
    margin: -4em 0 0 -4em;
}



